@page
@model CriliesRentalPlaceWeb.Pages.AdministrationModel
@{
}

<h4>AdministrationPanel</h4>

<ul class="list-group">

    <li class="list-group-item">
        <a type="button" class="btn btn-outline-info" asp-page="/Products/Index">Manage Products</a>
    </li>
    <li class="list-group-item">
        <a type="button" class="btn btn-outline-info" asp-page="/Categories/Index">Manage Categories</a>
    </li>

</ul>